.titlePrimary {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 0;
  color: rgb(59, 59, 62);
  font-size: 45px;
  font-weight: 900px;
}

.titleSecondary {
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
  padding: 0;
  color: rgb(59, 59, 62);
  font-size: 37px;
  font-weight: 900px;
}
